wp-config.php
.htaccess
.idea
.sass-cache
style.css.map
node_modules
**/.sass-cache
.DS_STORE
wp-content/uploads/
error_log
wp-admin/error_log
wp-includes/error_log
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-content/w3tc-config
wp-content/htaccess.backup
wp-content/wp-rocket-config
.ftpquota
wp-content/plugins/mu-plugins
wp-content/plugins/worker
.well-known
wp-content/db.php
_archive
license.txt
readme.html
readme.txt
LICENSE
LICENSE.MD
change_log.txt
README.md
readme.md