// Colors
$primary-color: #FE6E41;
$text-color: #333;
$link-color: #0073aa;
$background-color: #F3F7F6;

// Typography
$font-family-sans: 'Roboto', sans-serif;
$font-family-serif: 'Roboto Slab', serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Grid
$container-width: 960px;
$gutter: 2%;

// Breakpoints
$breakpoint-xxs: 319px;
$breakpoint-xs: 479px;
$breakpoint-sm: 767px;
$breakpoint-md: 959px;
$breakpoint-lg: 1025px;
